

.sales {
    background: url('../../../assets/images/bg_4.jpg') no-repeat fixed;
    background-size: cover;
     height: 70vh;
    &_title {
      font-family: 'Bungee Spice', cursive;
      text-align: center;
      text-transform: uppercase;
      padding-top: 10vh;
      color: white;
    }
}
  
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  figcaption {
    text-align: center;
    color: white;
  }
  
  .swiper-button {
    &-prev {
    color: #fc5f04;
    }
    &-next {
      color: #fc5f04;
    }
  }