.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #0808086b 5%, #14141477 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: auto;
    height: 10vh;
}
.btn {
    border: 2px solid black;
}
